<header>
<style>

</style>
<div class="row">
  <div class="col-md-6 left-header">
      <% if current_user %>
        <% unless current_user.avatar_url.nil? %><%= image_tag current_user.avatar_url(:display) ,class: "img-circle"%></br>
      <% end %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-warning button-left") %>
    <%= link_to 'Edit Profile', edit_user_registration_path,class: "btn btn-info button-left" %>
  </div>
  <div class="col-md-6 right-header">
        <%= current_user.name %></br>
        <%= current_user.surname %></br>
        <%= current_user.born %></br>
        <%= current_user.email %></br>
        <%= current_user.point %></br>
    <% end %>
  </div>
</div>
</header>